/* Articles (Home) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjusted for mobile */
    grid-gap: 10px; /* Gap between grid items */
}

/* Style for each article */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px;
}

/* Image style */
.article img {
    width: 100%;
    max-width: 100%;
    height: 250px; /* Fixed height for images */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

/* Title style */
.article h3 {
    margin: 10px 0;
}

/* Author and reading time style */
.article span {
    font-size: 14px;
}

/* Set the first article to span two columns */
.article:first-child {
    grid-column-end: span 2; /* Span two columns */
}

.article-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

/* Media query for screens between 480px and 600px */
@media screen and (min-width: 480px) and (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Show two articles per row on screens between 480px and 600px */
    }

    /* Set the first article to span two columns */
    .article:first-child {
        grid-column-end: span 2;
    }
}


/* Media query for larger screens */
@media screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Show two articles per row on screens larger than 600px */
    }

    .article:first-child {
        grid-column-end: span 3; /* Span two columns */
    }
}

/* Media query for even larger screens */
@media screen and (min-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* Show four articles per row on screens larger than 900px */
    }

    /* Set the first article to span two columns */
.article:first-child {
    grid-column-end: span 3; /* Span two columns */
}
}

/* Post page */
* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 5%;
    margin-top: calc(-7.5%);
}

.post {
    margin: 10%;
    width: 100%;
}


h2 {
    font-size: 2em;
    text-align: center;
    margin: 5%;
}

.post-img {
    height: 13em;
    width: 100%;
    border-radius: .25em;
    object-fit: cover;
}

ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    margin: 0% 3% 0% 3%;
    justify-content: center;
}

.post-info {
    margin: 4% 0% 4% 0%;
}

li {
    font-size: 1em;
    margin: 2%;

    &.category {
        font-weight: bold;
    }

    &.author {
        font-weight: bold;
    }

    &.read-time {
        font-weight: 700;
        color: rgb(99, 99, 101);
    }
}

p {
    margin-top: 1em;
}


/* Nav styling */

nav {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
}

@media (min-width: 45em) {
    .logo {
        width: 20%;
    }
}

@media (min-width: 75em) {

    .logo {
        width: calc(20% - 5%)
    }

}